.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.accordion-title {
    background-color: #f4f4f4;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 10px;
}